name: build
on: [push]

env:
  GITHUB_TOKEN: ${{ github.token }}

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: build
        run: cd ${{ github.workspace }}/frontend && yarn install && yarn build
      - name: Upload gh pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: ${{ github.workspace }}/frontend/dist
      - name: Upload build stats
        uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/frontend/build_stats.json
          
  deploy-to-gh-pages:
    needs: build-frontend
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
