name: build
on: [push]
jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: build
        run: cd ${{ github.workspace }} && yarn install && yarn build
      - uses: actions/upload-artifact@v3
        with:
          name: clore-frontend
          path: ${{ github.workspace }}/dist
